.content {
    grid-area: c;
    background-color: lightgrey;
}

.background img {
    width: 50%;
}
.item__mrbin img {
    width: 10%;
}

.yoda {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}